:root{
    /*Colores*/
    --background-color: #080F28;
    --primary-text-color: #fff;
    --primary-color: #F47521;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/*header*/

.header{
    width: 100%;
    height: 70px;
    position: relative;
}

.header .nav-container{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    display: flex;
}

.header .nav-container .nav-logo-container{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.header .nav-container .nav-user-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
}

.header .nav-container .nav-user-container .nav-user--menu{
    width: 203px;
    display: flex;
    align-items: center;
    background-image: url(/assets/icons/bg-blur.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11px 12px;
}

.header .nav-container .nav-user-container .nav-user--menu img{
    margin-right: 12px;
}

.header .nav-container .nav-user-container .nav-user--menu .user-menu--title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .nav-container .nav-user-container .nav-user--menu .user-menu--title p{
    font-size: 1.4rem;
    color:#212021;
    margin-right: 12px;
    text-transform: uppercase;
}

.header .nav-container .nav-user-container .nav-user--menu .user-menu--title span{
    width: 0.5px;
    height: 26px;
    background-color: #606060;    
}

.header .nav-container .nav-user-container .nav-user--menu .arrow-list{
    display: flex;
}

.header .nav-container .nav-user-container .nav-user--menu .arrow-list img{
    margin-left: 12px;
}

/*header*/

/*banner*/

.main-container{
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    position: relative;
}


/*banner*/