:root{
    /*Colores*/
    --background-color: #080F28;
    --primary-text-color: #fff;
    --primary-color: #F47521;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/*header*/

.header{
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 1;
}

.header .nav-container{
    width: 100%;
    height: 70px;
    display: flex;
    padding: 6px 0;
}

.header .nav-container .nav-logo-container{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.header .nav-container .nav-user-container{
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 24px;
    position: relative;
}

.header .nav-container .nav-user-container .nav-user--menu{
    width: 203px;
    display: flex;
    align-items: center;
    background-image: url(/assets/icons/bg-blur.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11px 12px;
    cursor: pointer;
}

.header .nav-container .nav-user-container .nav-user--menu img{
    margin-right: 12px;
}

.header .nav-container .nav-user-container .nav-user--menu .user-menu--title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .nav-container .nav-user-container .nav-user--menu .user-menu--title p{
    font-size: 1.4rem;
    color:#212021;
    margin-right: 12px;
    text-transform: uppercase;
}

.header .nav-container .nav-user-container .nav-user--menu .user-menu--title span{
    width: 0.5px;
    height: 26px;
    background-color: #606060;    
}

.header .nav-container .nav-user-container .nav-user--menu .arrow-list{
    display: flex;
}

.header .nav-container .nav-user-container .nav-user--menu .arrow-list img{
    margin-left: 12px;
}

.header .nav-container ul{
    display: none;
    position: absolute;
    top: 64px;
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    border-radius: 4px;
    list-style: none;
    width: 203px;
}

.header .nav-container ul li{
    margin-bottom: 8px;
}


.header .nav-container ul li:last-child{
    margin-bottom: 0;
}

.header .nav-container ul li a{
    font-size: 1.4rem;
    color: #707070;
    text-decoration: none;
}

.header .nav-user-container:hover ul, ul:hover{
    display: block;
}


/*header*/

/*banner*/

.main-container{
    background-color: var(--background-color);
    width: 100%;
    height: auto;
}


.main-movie-container {
    display: flex;
    top: 0;
    width: 100%;
    height: 615px;
    margin: -70px auto 0;
    background-image: url(/assets/series/portada-broly.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-movie-container:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(0deg, #080F28 17.51%, rgba(8, 15, 40, 0) 100%);
    backdrop-filter: blur(2px);
}

.main-movie-container .main-movie-container--title{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    padding: 0 65px 0;
    justify-content: center;
}

.main-movie-container .main-movie-container--title h2{
    font-size: 3.6rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3.8rem;
    color: #fff;
    margin-bottom: 1.6rem;
}

.main-movie-container .movie-container--detail{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-movie-container .movie-container--detail span{
    background-image: url(/assets/icons/star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2.4rem;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.main-movie-container .movie-container--detail span p{
    color: #CFA613;
    margin: 0 32px 0;
}

.main-movie-container .movie-container--detail p{
    margin-left: 40px;
}


.main-movie-container .main-movie-container--title p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: #fff;
    margin-bottom: 2.4rem;
}

.cta-main-new{
    display: flex;
}

.cta-main-new a{
    text-decoration: none;
}

.main-movie-container .main-movie-container--title .cta-main-new button{
    width: 167px;
    height: 41px;
    border-radius: 4px;
    background: no-repeat;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    color: #000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-movie-container .main-movie-container--title .cta-main-new button span{
    background-image: url(/assets/icons/play.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 24px;
    height: 24px;
    margin: 0 8px;
}

.main-movie-container .main-movie-container--portada{
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-movie-container .main-movie-container--portada img{
    width: 276px;
    height: 416px;
}

/*banner*/

/*buscador*/

.main-container .search-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 18px;
}

.main-container .search-container h2{
    font-size: 3.6rem;
    font-weight: 400;
    color: #fff;
    line-height: 4.0rem;
    margin-bottom: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main-container .search-container .search-container--input{
    width: 561px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #090F25;
    border-radius: 22px;
}

.main-container .search-container .search-container--input span{
    
}

.main-container .search-container .search-container--input input{
    width: 561px;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 22px;
}




/*buscador*/